body {
  background-image: url(clouds_weather_app.jpg);
  background-size: 100%;
}

footer {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: small;
  font-weight: bolder;
  text-align: center;
}

form {
  padding: 10px;
  text-align: center;
}

.form {
  position: relative;
  left: 10px;
}

.city {
  margin-top: 10px;
  font-size: 20px;
}

.main {
  max-width: 500px;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  color: white;
}

.temperature {
  font-size: 30px;
}

.units {
  font-size: 13px;
  position: relative;
  bottom: 12px;
}
.link {
  color: black;
  text-decoration: underline;
}

.last_section {
  padding-bottom: 10px;
}

.forecast {
  text-align: center;
  padding: 10px;
}

.forecast-temp {
  font-size: 13px;
}

.min-forecast {
  opacity: 0.5;
}

.notactive {
  color: white;
  cursor: auto;
}
.notactive:hover {
  color: white;
  text-decoration: none;
}

#description:first-letter {
  text-transform: capitalize;
}
